useDynLib(FFD)

import(methods)
import(R2HTML)
importFrom(graphics,plot)

exportClasses(
              SurveyData,
              IndSampling,
              IndSamplingSummary,
              LtdSampling,
              LtdSamplingSummary
              )
              
export(
       computeAlpha,
       computeAlphaLimitedSampling,
       computeAposterioriError,
       computeOptimalSampleSize,
       computePValue,
       indSampling,
       indSamplingSummary,
       ltdSampling,
       ltdSamplingSummary,
       surveyData
       )

exportMethods(
              HTML,
              plot,
              sample,
              show,
              summary
              )
