BODY {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  color: rgb(68, 68, 68);
  background-color: white;
  font-family: arial, helvetica, sans-serif;    
  padding: 5px;
  border: 0px;
}

p {
  font-size: small;
}

ul{
  font-size: small;
}



form { margin: 0; }

img { border: 0; }


h1,h2,h3,h4,h5,h6 {
  font-family: verdana, arial, helvetica, sans-serif;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
  color:#6e7e96;
}

h3 {
  font-size: medium;
}

h4 {
  font-size: small;
}

h5 {
  font-size: x-small;
}

h6 {
  font-size: xx-small;
}



a:link {	
	color: #0076D5;	
	text-decoration: none;
}

a:visited {	
	color: #004787;
	text-decoration: none;
}
	
a:hover {	
	text-decoration: underline;	
	color: #0076D5;
}